body,html{
    margin:0px;
    padding:0px;
    height: 100%;
}

#root{
    height: 100%;
    .App{
        background: #444444;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 5em !important;
        }
        input{
            margin: 10px 0px;
        }

        .loader-wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;        
            flex-direction: column;
            .loader{
                position: relative;
                width: 50px;
                height: 50px;
                border-bottom: 2px solid #ffffff;
                border-left: 2px dashed #ffffff;
                border-radius: 50%;
                animation: animateLoader 1000ms linear forwards infinite;
                -webkit-animation: animateLoader 1000ms linear forwards infinite;
            }
            small,small em{
                font-size: 10px;                
                margin:35px 0px;
            }
        }
    }
}

.existing{
    color : maroon;
    font-weight: 700;
}

@-webkit-keyframes animateLoader{
    0%{
        transform: rotate(0deg);
    }
}

@keyframes animateLoader{
    0%{
        transform: rotate(360deg);
    }
}