body,html{
    margin:0px;
    padding:0px;
    height: 100%;
}

#root{
    height: 100%;
    .App{
        display: flex;
        flex-direction: column;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        input{
            margin: 10px 0px;
        }
    }
}